 


body{
    background-color:rgb(224, 227, 222);
    margin: 0px auto;
    padding: 10px;    
    font-family: 'Uchen', serif;
    line-height: 20px;
}
header{
    background-color: #75885b;
    color:white;    
    text-align: center;
    padding: 10px 0;
}
main{
    width: 800px;
    margin: 30px auto;
}
#linhaDoTempo{
    text-align: center;
    margin:50px 0;
    
}


img{
    border-radius: 100%;
    border: 2px dotted black;
}

.caixa {
    display: inline-block;
    margin:10px 0;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #969494;
    border-radius:10px;
}


td,th{
    border-bottom:1px solid #c5c4ca;
    border-right:1px solid #c5c4ca;
}

p,cite{
    word-spacing: 2px;
    margin-bottom: 35px;
    
    
}

footer{
    margin:50px auto;
    font-size:30px;
    text-align: center;
}



